---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import "../../style/global.css";

const posts = await getCollection("blog");

posts.sort((a, b) => {
  return Number(b.data.pubDate) - Number(a.data.pubDate);
});
---

<Layout title="Junseong Park">
  <main class="h-[calc(100vh-124px)] mt-16">
    <ul class="grid grid-cols-1 gap-4 mx-16 justify-center pt-6 md:grid-cols-2">
      {
        posts.map((post) => {
          return (
            <li class="hover:translate-x-2 hover:-translate-y-2 hover:scale-105 transition-all duration-500">
              <div class="bg-white rounded-lg shadow-lg overflow-hidden hover:bg-yellow-100 transition-colors duration-500 py-6 px-6">
                <a href={`/blog/${post.slug}`} class="block">
                  <div class="flex flex-col">
                    <h3 class="font-bold text-3xl pb-2">{post.data.title}</h3>
                    <p class="pb-2">{post.data.description}</p>
                    <p class="text-gray-700 text-xs">
                      {post.data.pubDate.toLocaleDateString()}
                    </p>
                  </div>
                  <span class="bg-gray-200 text-gray-700 text-sm rounded-full px-4 py-2 mt-2 inline-block">
                    {post.data.tag}
                  </span>
                </a>
              </div>
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>

<style>
  html {
    background: linear-gradient(to bottom right, #6c63ff, #b84592);
    animation: gradient 8s ease infinite;
    background-size: 400% 400%;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
